@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
  --yellow: #eac926;
  --blue: #03264c;
  --blue-light: #1259c3;
  --gray-dark: #666;
  --gray-light: #ebebeb;
  --green: #39b54a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-desc-box {
  display: flex;
  padding: 1em;
}

.product-desc-box > .product-delivery-icon {
  display: block;
  position: absolute;
  top: -15px;
  right: 20px;
  border: 1px solid var(--green);
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: var(--green);
  font-size: 16px;
}

.product-desc-box {
  position: relative;
}

body {
  background-color: var(--yellow);
  font-size: 12px;
  font-family: "roboto";
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: black;
}
a:link {
  text-decoration: none;
}

.banner img {
  margin-bottom: -5px;
  width: 100%;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#heading-logo {
  max-width: 50%;
  flex: 50%;
}

.search {
  flex: 25%;
  padding: 1em;
}

.navbar {
  flex: 50%;
  display: none;
}

aside {
  flex: 50%;
  display: none;
}

.menu-row {
  padding: 2em;
  display: flex;
  flex-direction: row;
}

.menu-item {
  padding: 0 1em;
}

.burger-menu {
  padding: 2em 0 2em;
  text-align: center;
}

.burger-menu i {
  border-radius: 5px;
  background-color: var(--blue-light);
  padding: 10px;
  color: var(--gray-light);
  font-size: 20px;
}

.price {
  flex: 30%;
  align-self: flex-end;
  font-size: 18px;
}

.discount {
  flex: 70%;
  align-self: flex-end;
  color: var(--green);
  font-size: 16px;
  text-align: center;
}

.section-title {
  padding: 1em 0 1em;
  color: var(--gray-dark);
  font-size: 24px;
  text-align: center;
}

.fee {
  flex: 25%;
  text-align: center;
}

footer {
  background-color: white;
  width: 100%;
  color: var(--gray-dark);
}

.footer-card {
  padding: 2em;
  text-align: center;
}

.footer-card i {
  padding: 10px 0 2em;
  color: var(--blue-light);
  font-size: 2em;
}

.products {
  background-color: var(--gray-light);
}
.register-section-form {
  min-height: 100vh;
  background-color: var(--gray-light);
}

.register-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.product-card {
  flex: 100%;
  margin: 1em;
  background-color: white;
  max-width: 100%;
}

.products-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em 0;
}

.product-card img {
  border-bottom: 1px solid var(--gray-light);
  width: 100%;
}

.product-name {
  display: none;
  padding: 1em;
  padding-top: 1em;
  color: var(--gray-dark);
}

.login-button:hover{
  background-color: #0022AA;
}

footer > article > i:hover{
  color: red;
}

/* Tablet size */
@media only screen and (min-width: 361px) {
  .product-card:hover .product-name {
    display: block;
  }

  .product-card:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .navbar {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  aside {
    display: block;
  }
  .product-card {
    flex: 40%;
    max-width: 50%;
  }
}

/* Desktop size */
@media only screen and (min-width: 769px) {

  .product-card:hover .product-name {
    display: block;
  }
  .product-card:hover .product-desc-box > i{
    transform: rotate(-90deg);
    transition: all 500ms;
  }
  
  .product-card:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .navbar {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  aside {
    display: block;
  }
  .product-card {
    flex: 20%;
    max-width: 25%;
  }
}
