@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
  --yellow: #eac926;
  --blue: #03264c;
  --blue-light: #1259c3;
  --gray-dark: #666;
  --gray-light: #ebebeb;
  --green: #39b54a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-desc-box {
  display: flex;
  padding: 1em;
}

.product-desc-box > .product-delivery-icon {
  display: block;
  position: absolute;
  top: -15px;
  right: 20px;
  border: 1px solid var(--green);
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: var(--green);
  font-size: 16px;
}

.product-desc-box {
  position: relative;
}

body {
  background-color: var(--yellow);
  font-size: 12px;
  font-family: "roboto";
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: black;
}
a:link {
  text-decoration: none;
}

.banner img {
  margin-bottom: -5px;
  width: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#heading-logo {
  flex: 50%;
  max-width: 50%;
}

.navbar {
  display: none;
}

.menu-row {
  display: flex;
  flex-direction: row;
  padding: 2em;
}

.menu-item {
  padding: 0 1em;
}

.burger-menu {
  padding: 1em 0 1em;
  text-align: center;
}

.burger-menu i {
  border-radius: 5px;
  background-color: var(--blue-light);
  padding: 10px;
  color: var(--gray-light);
  font-size: 20px;
}

.price {
  flex: 30%;
  align-self: flex-end;
  font-size: 18px;
}

.discount {
  flex: 70%;
  align-self: flex-end;
  color: var(--green);
  font-size: 16px;
  text-align: center;
}

.section-title {
  padding: 1em 0 1em;
  color: var(--gray-dark);
  font-size: 24px;
  text-align: center;
}

.fee {
  flex: 25%;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: white;
  width: 100%;
  color: var(--gray-dark);
}

.footer-card {
  padding: 2em;
  text-align: center;
}

.footer-card i {
  padding: 10px 0 2em;
  color: var(--blue-light);
  font-size: 2em;
}

.products {
  background-color: var(--gray-light);
}
.section-form {
  background-color: var(--gray-light);
  padding: 2rem 0;
  min-height: 100vh;
}

.section-form form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--Gris-oscuro);
  border-radius: 10px;
  padding: 2rem;
  width: 80%;
  max-width: 450px;
}

.section-form label {
  padding: 1rem 0;
}

.section-form form > input {
  border-style: none;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  height: 2.5rem;
}

.section-form button {
  margin: 1rem auto;
  border: none;
  border-radius: 5px;
  background-color: var(--blue-light);
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.search {
  display: flex;
  flex: 50%;
  flex-wrap: nowrap;
  padding: 1rem;
}

.search input {
  border-style: none;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 1rem;
  width: 100%;
  height: 2.5rem;
}

.search button {
  border-style: none;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 10px;
  height: 2.5rem;
}

.product-card {
  flex: 100%;
  margin: 1em;
  background-color: white;
  max-width: 100%;
}

.products-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em 0;
}

.product-card img {
  border-bottom: 1px solid var(--gray-light);
  width: 100%;
}

.product-name {
  display: none;
  padding: 1em;
  padding-top: 1em;
  color: var(--gray-dark);
}

.login-button:hover {
  background-color: #0022aa;
}

footer > article > i:hover {
  transition: 300ms color ease;
  color: var(--green);
}

/* Tablet size */
@media only screen and (min-width: 361px) {
  .heading {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .search {
    flex: 50%;
  }

  .product-card:hover .product-name {
    display: block;
  }

  .product-card:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .burger-menu {
    display: none;
  }

  .product-card {
    flex: 40%;
    max-width: 50%;
  }
}

/* Desktop size */
@media only screen and (min-width: 769px) {
  .search {
    flex: 25%;
  }

  .product-card:hover .product-name {
    display: block;
  }
  .product-card:hover .product-desc-box > i {
    transform: rotate(-90deg);
    transition: all 500ms;
  }

  .product-card {
    flex: 20%;
    max-width: 25%;
  }
}
