@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
  --yellow: #eac926;
  --blue: #03264c;
  --blue-light: #1259c3;
  --gray-dark: #666;
  --gray-light: #ebebeb;
  --green: #39b54a;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 12px;
  font-family: "roboto";
  background-color: var(--yellow);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: black;
}
a:link {
  text-decoration: none;
}

.banner img {
width: 100%;
margin-bottom: -5px;
}

.search {
  padding: 1em;
}

.navbar {
  display: none;
}

aside {
  display: none;
}

.burger-menu {
  padding: 2em 0 2em;
  text-align: center;
}

.burger-menu i {
  background-color: var(--blue-light);
  color: var(--gray-light);
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.price {
  font-size: 18px;
}

.discount {
  font-size: 16px;
  color: var(--green);
}

.description {
  display: none;
  font-size: 16px;
  color: var(--gray-dark);
  margin-top: 1em;
}

.section-title {
  font-size: 24px;
  color: var(--gray-dark);
  padding: 1em 0 1em;
  text-align: center;
}

.fee {
  text-align: center;
}

footer {
  width: 100%;
  background-color: white;
  color: var(--gray-dark);
}

.footer-card {
  padding: 2em;
  text-align: center;
}

.footer-card i {
  font-size: 2em;
  padding: 10px 0 2em;
  color: var(--blue-light);
}

.products {
  background-color: var(--gray-light);
}

.product {
  background-color: white;
  margin: 1em;
  padding: 1em;
}

.product img {
  width: 100%;
  border-bottom: 1px solid var(--gray-light);
}

.product i {
  border: 1px solid var(--green);
  border-radius: 100%;
  font-size: 1rem;
  padding: 8px;
  color: var(--green);
}

/* Tablet size */
@media only screen and (min-width: 361px) {
  .navbar {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  aside {
    display: block;
  }
  .product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .description {
    display: block;
  }
}

/* Desktop size */
@media only screen and (min-width: 769px) {
  .navbar {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  aside {
    display: block;
  }
  .product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .description {
    display: block;
  }
}
